* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #0b0c10;
  line-height: 150%;
}

.logo {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #66fcf1;
  margin-bottom: 20px;
  margin-top: -75px;
}

.content {
  margin-top: 100px;
  margin-left: 25px;
}

.wrap {
  max-width: 720px;
  margin-top: -57px;
  margin-left: 100px;
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#resetWheel {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 17px;
  height: 50px;
  width: 190px;
  border: 2px solid #66fcf1;
  background-color: #0b0c10;
  border-radius: 20px;
  color: #66fcf1;
  padding-bottom: 4px;
  margin: 25px 0px;
  margin-left: 13px;
}

.half {
  /* width: 50%; */
  padding: 32px 0;
}

.title {
  font-family: "Quicksand", sans-serif;
  line-height: 24px;
  display: block;
  padding: 8px 0;
}

.readout {
  margin-top: 20px;
  line-height: 180%;
}

#values {
  font-family: monospace;
  line-height: 150%;
}

#hexInput {
  margin-bottom: 25px;
}

/**********************************  Start of the Canvas ****************************************/

#paint {
  border: 3px solid #66fcf1;
  border-radius: 5px;
  background: #1f2833;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container1 {
  display: flex;
}

#resetCanvas {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 17px;
  height: 50px;
  width: 190px;
  border: 2px solid #66fcf1;
  background-color: #0b0c10;
  border-radius: 20px;
  color: #66fcf1;
  padding-bottom: 2px;
  /* text-decoration: none; */
  margin-left: 13px;
}

#resetCanvas:hover,
#resetWheel:hover {
  background-color: #66fcf1;
  color: #1f2833;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  /* padding-bottom: 4px; */
  margin-top: 30px;
}

.buttonLink,
a {
  text-decoration: none;
  color: #66fcf1;
}

/* #paint {
    width: 1400px;
    height: 800px;
  }
  
  /* @media (max-width: 1440px) {
    #paint {
      width: 1100px;
      height: 500px; 
    }
  }
  
  @media (max-width: 1280px) {
    #paint {
      width: 900px;
      height: 550px;
    }
  } */
